body {
  font-family: cursive;
  background-image: url(https://marketplace.canva.com/EAE5F4KimNE/1/0/900w/canva-yellow-sunflower-phone-wallpaper-R2G04M0oVqs.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 1px 1px 15px rgb(233, 231, 207);
}
.container-fluid {
  background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpghttps://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMzMtZXllLTEyLmpwZw.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
  padding: 25px;
  text-align: center;
  border-width: 12px;
  border-style: double;
  border-color: rgb(243, 235, 162);
  box-shadow: 0px 0px 30px rgba(151, 28, 153, 0.687);
}

.flex {
  min-height: 600px;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}
.box {
  padding: 10px;
  margin-top: 20px;
  height: 300px;
  width: 30%;
  border: 4px dotted white;
  font-size: 40pt;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 575px) {
  .flex {
    flex-wrap: wrap;
  }

  .box {
    width: 100%;
  }
}

#box1 {
  justify-self: flex-start;
}

#box2 {
  justify-self: center;
}

#box3 {
  justify-self: flex-end;
  margin-bottom: 200px;
}

h1 {
  color: rgb(254, 216, 254);
  text-shadow: 2px 2px 20px darkmagenta;
}
h3 {
  color: white;
  font-size: 22px;
}

b {
  font-size: 22px;
  text-decoration: underline;
}
h3::first-letter {
  font-size: 150%;
  color: rgb(142, 165, 187);
}

#des {
  color: white;
  text-shadow: 0px 0px 15px rgb(26, 155, 135);
  font-size: 30px;
  margin-top: 20px;
}

h1:hover {
  color: plum;
  text-shadow: 0px 0px 20px rgb(46, 217, 209);
  font-size: 45px;
}

#des:hover {
  font-size: 35px;
  color: rgb(236, 140, 218);
  text-shadow: 0px 0px 20px rgb(107, 222, 87);
}
